#include <winresrc.h>
#include <commctrl.h>

#include "resource.h"

#define TREE_HEADER 10
#define CONTROL_WIDTH 20
#define CONTROL_HEIGHT 29
#define TREE_WIDTH 120
#define TREE_HEIGHT 3 * CONTROL_HEIGHT
#define LIST_WIDTH 150

#define BUTTON_WIDTH 70
#define BUTTON_HEIGHT 18

// 4 * INPUT_HEIGHT + 5 * INPUT_PADDING + BUTTON_HEIGHT == TREE_HEADER + 2 * TREE_HEIGHT
#define INPUT_HEIGHT 14
#define INPUT_PADDING 22

#define PANEL_PADDING 2
#define PANEL_WIDTH (4 * PANEL_PADDING + TREE_WIDTH + LIST_WIDTH + CONTROL_WIDTH + 2 * BUTTON_WIDTH)
#define PANEL_HEIGHT (2 * (PANEL_PADDING + TREE_HEADER + TREE_HEIGHT))

IDD_PANEL DIALOGEX 0, 0, PANEL_WIDTH, PANEL_HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "pwasio control panel"
FONT 8, "Consolas"
BEGIN
    LTEXT "sources", -1,
        PANEL_PADDING,
        PANEL_PADDING,
        TREE_WIDTH,
        TREE_HEADER
    CONTROL "", IDC_INPUT_TREE, WC_TREEVIEWA, WS_TABSTOP | WS_BORDER,
        PANEL_PADDING,
        PANEL_PADDING + TREE_HEADER,
        TREE_WIDTH,
        TREE_HEIGHT

    LTEXT "inputs", -1,
        PANEL_PADDING + TREE_WIDTH,
        PANEL_PADDING,
        LIST_WIDTH,
        TREE_HEADER
    CONTROL "", IDC_INPUT_LIST, WC_LISTVIEWA, WS_TABSTOP | WS_BORDER,
        PANEL_PADDING + TREE_WIDTH,
        PANEL_PADDING + TREE_HEADER,
        LIST_WIDTH,
        TREE_HEIGHT

    PUSHBUTTON "^", IDC_INPUT_UP,
        PANEL_PADDING + TREE_WIDTH + LIST_WIDTH,
        PANEL_PADDING + TREE_HEADER,
        CONTROL_WIDTH,
        CONTROL_HEIGHT
    PUSHBUTTON "v", IDC_INPUT_DOWN,
        PANEL_PADDING + TREE_WIDTH + LIST_WIDTH,
        PANEL_PADDING + TREE_HEADER + CONTROL_HEIGHT,
        CONTROL_WIDTH,
        CONTROL_HEIGHT
    PUSHBUTTON "x", IDC_INPUT_REMOVE,
        PANEL_PADDING + TREE_WIDTH + LIST_WIDTH,
        PANEL_PADDING + TREE_HEADER + 2 * CONTROL_HEIGHT,
        CONTROL_WIDTH,
        CONTROL_HEIGHT

    LTEXT "sinks", -1,
        PANEL_PADDING,
        PANEL_PADDING + TREE_HEADER + TREE_HEIGHT,
        TREE_WIDTH,
        TREE_HEADER
    CONTROL "", IDC_OUTPUT_TREE, WC_TREEVIEWA, WS_TABSTOP | WS_BORDER,
        PANEL_PADDING,
        PANEL_PADDING + 2 * TREE_HEADER + TREE_HEIGHT,
        TREE_WIDTH,
        TREE_HEIGHT

    LTEXT "outputs", -1,
        PANEL_PADDING + TREE_WIDTH,
        PANEL_PADDING + TREE_HEADER + TREE_HEIGHT,
        LIST_WIDTH,
        TREE_HEADER
    CONTROL "", IDC_OUTPUT_LIST, WC_LISTVIEWA, WS_TABSTOP | WS_BORDER,
        PANEL_PADDING + TREE_WIDTH,
        PANEL_PADDING + 2 * TREE_HEADER + TREE_HEIGHT,
        LIST_WIDTH,
        TREE_HEIGHT

    PUSHBUTTON "^", IDC_OUTPUT_UP,
        PANEL_PADDING + TREE_WIDTH + LIST_WIDTH,
        PANEL_PADDING + 2 * TREE_HEADER + TREE_HEIGHT,
        CONTROL_WIDTH,
        CONTROL_HEIGHT
    PUSHBUTTON "v", IDC_OUTPUT_DOWN,
        PANEL_PADDING + TREE_WIDTH + LIST_WIDTH,
        PANEL_PADDING + 2 * TREE_HEADER + TREE_HEIGHT + CONTROL_HEIGHT,
        CONTROL_WIDTH,
        CONTROL_HEIGHT
    PUSHBUTTON "x", IDC_OUTPUT_REMOVE,
        PANEL_PADDING + TREE_WIDTH + LIST_WIDTH,
        PANEL_PADDING + 2 * TREE_HEADER + TREE_HEIGHT + 2 * CONTROL_HEIGHT,
        CONTROL_WIDTH,
        CONTROL_HEIGHT

    LTEXT "driver parameters", -1,
        PANEL_WIDTH - 2 * (PANEL_PADDING + BUTTON_WIDTH),
        PANEL_PADDING,
        PANEL_PADDING + 2 * BUTTON_WIDTH,
        TREE_HEADER

    LTEXT "buffer size", -1,
        PANEL_WIDTH - 2 * (PANEL_PADDING + BUTTON_WIDTH),
        PANEL_PADDING + TREE_HEADER + INPUT_PADDING,
        BUTTON_WIDTH,
        INPUT_HEIGHT
    EDITTEXT IDE_BUFSIZE,
        PANEL_WIDTH - (PANEL_PADDING + BUTTON_WIDTH),
        PANEL_PADDING + TREE_HEADER + INPUT_PADDING,
        BUTTON_WIDTH,
        INPUT_HEIGHT

    LTEXT "sample rate", -1,
        PANEL_WIDTH - 2 * (PANEL_PADDING + BUTTON_WIDTH),
        PANEL_PADDING + TREE_HEADER + 2 * INPUT_PADDING + INPUT_HEIGHT,
        BUTTON_WIDTH,
        INPUT_HEIGHT
    EDITTEXT IDE_SMPRATE,
        PANEL_WIDTH - (PANEL_PADDING + BUTTON_WIDTH),
        PANEL_PADDING + TREE_HEADER + 2 * INPUT_PADDING + INPUT_HEIGHT,
        BUTTON_WIDTH,
        INPUT_HEIGHT

    LTEXT "rt priority (driver)", -1,
        PANEL_WIDTH - 2 * (PANEL_PADDING + BUTTON_WIDTH),
        PANEL_PADDING + TREE_HEADER + 3 * INPUT_PADDING + 2 * INPUT_HEIGHT,
        BUTTON_WIDTH,
        INPUT_HEIGHT
    EDITTEXT IDE_PRIORITY,
        PANEL_WIDTH - (PANEL_PADDING + BUTTON_WIDTH),
        PANEL_PADDING + TREE_HEADER + 3 * INPUT_PADDING + 2 * INPUT_HEIGHT,
        BUTTON_WIDTH,
        INPUT_HEIGHT

    LTEXT "rt priority (host)", -1,
        PANEL_WIDTH - 2 * (PANEL_PADDING + BUTTON_WIDTH),
        PANEL_PADDING + TREE_HEADER + 4 * INPUT_PADDING + 3 * INPUT_HEIGHT,
        BUTTON_WIDTH,
        INPUT_HEIGHT
    EDITTEXT IDE_HOST_PRIORITY,
        PANEL_WIDTH - (PANEL_PADDING + BUTTON_WIDTH),
        PANEL_PADDING + TREE_HEADER + 4 * INPUT_PADDING + 3 * INPUT_HEIGHT,
        BUTTON_WIDTH,
        INPUT_HEIGHT

    PUSHBUTTON "&cancel", IDCANCEL,
        PANEL_WIDTH - 2 * (PANEL_PADDING + BUTTON_WIDTH),
        PANEL_HEIGHT - (PANEL_PADDING + BUTTON_HEIGHT),
        BUTTON_WIDTH,
        BUTTON_HEIGHT
    DEFPUSHBUTTON "&apply", IDOK,
        PANEL_WIDTH - (PANEL_PADDING + BUTTON_WIDTH),
        PANEL_HEIGHT - (PANEL_PADDING + BUTTON_HEIGHT),
        BUTTON_WIDTH,
        BUTTON_HEIGHT
END
