#include <winresrc.h>
#include "resource.h"

IDD_PANEL DIALOG 0, 0, 200, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "pwasio Control Panel"
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT      "Input channels",  -1,          8,   8,   84, 14
  EDITTEXT                      IDE_INPUTS,  168, 8,   24, 14, ES_NUMBER
  LTEXT      "Output channels", -1,          8,   38,  84, 14
  EDITTEXT                      IDE_OUTPUTS, 168, 38,  24, 14, ES_NUMBER
  LTEXT      "Buffer size",     -1,          8,   68,  84, 14
  EDITTEXT                      IDE_BUFSIZE, 138, 68,  54, 14, ES_NUMBER
  LTEXT      "Sample rate",     -1,          8,   98,  84, 14
  EDITTEXT                      IDE_SMPRATE, 138, 98,  54, 14, ES_NUMBER
  PUSHBUTTON "&Cancel",         IDCANCEL,        8,   128, 84, 14
  PUSHBUTTON "&Apply",          IDOK,    108, 128, 84, 14
END
